.auth-page {
  background: url("../assets/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 400px;
  margin: 60px auto;
  padding: 2rem;
  background-color: #f7f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form button {
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background-color: #0e5ec2;
}
