.weather-details-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(3px);
}

.weather-details-card {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 600px;
  width: 100%;
  margin: 130px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: sans-serif;
}

.weather-main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-main-info .temp {
  font-size: 2.5rem;
  margin: 0;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  text-align: left;
}
